.btn {
    padding: 9px 24px;
    border-radius: 8px;
    font-family: var(--base-font-family);
    font-weight: 600;
    font-size: medium;
    border: 2px solid var(--gray-color);
    background: transparent;
    color: var(--primary-color);
    cursor: pointer;
}

.btn.large {
    padding: 13px 24px;
}

.btn.fill {
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--white-text);
}