:root {
  --primary-color: #7065EF;
  --gray-color: #D4D4D8;
  --gray-text: #A1A1AA;
  --white-text: #ffffff;
  --base-font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  font-family: var(--base-font-family);
  font-size: medium;
}
